<html>
  <head></head>
  <body>
    <select></select>

    <ul id="messages"></ul>
    
    <form action="">
      <input id="m" autocomplete="off"/>
      <button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      let roomlist
      const getRooms = async () =>{
        roomlist = await (await fetch('http://http://146.56.183.55/:3030/chat/roomList',{
          method:"GET",
          headers:{
            "Content-Type":"application/json",
            "Authorization" : "Bearer "+localStorage.getItem("access-token")
          }
        })).json()
      }

      const init = async () => {
        await getRooms()
        // const name = prompt('What your name');//room[a].userId
        var socket = io('http://http://146.56.183.55/:3030');
        let room = roomlist.rooms;

        let num = 0;

        const select=document.querySelector("select");

        for (num = 0; num < room.length; num++) {
          const option=document.createElement("option");
          option.value=room[num]['target_username'];
          option.innerText=room[num]['target_username']
          select.appendChild(option)
        }

        let a=0
        
        console.log(room[a])

        socket.emit('joinRoom', room[a].roomId, room[a].participant);
        socket.emit('readChat',room[a].roomId, room[a].userId) 

        $('select').change((e) => {
          socket.emit('leaveRoom', room[a].roomId, room[a].participant);
          a = e.target.selectedIndex
          socket.emit('joinRoom', room[a].roomId, room[a].participant);
          socket.emit('readChat',room[a].roomId, room[a].userId)
        });

        $('form').submit(() => {
          socket.emit('message', room[a].roomId, room[a].userId, $('#m').val());
          $('#m').val('');
          return false;
        });
    
        socket.on('joinRoom', (roomid, name) => {
          $('#messages').append($('<li>').text(name + '    joined ' + roomid + ':)'));
        });

        socket.on('message', (chat) => {
          $('#messages').append($('<li>').text(chat.participant + '  :  ' + chat.message));
        });
    
        //채팅방 나가기를 버튼을 클릭했을때

        socket.on('leaveRoom', (roomid, name) => {
          $('#messages').append($('<li>').text(name + '    leaved ' + roomid + ' :('));
        });
      }

      init()
    </script>

  </body>
</html>