<html>
  <head></head>
  <body>
    <select></select>

    <ul id="messages"></ul>
    
    <form action="">
      <input id="m" autocomplete="off"/>
      <button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      let roomlist
      const getRooms = async () =>{
        roomlist = await (await fetch('http://localhost:5050/chat/roomList',{headers:{Authorization:"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxZDUzNzA4NThmYWRhMmU0NDM0ZjBlMiIsImV4cCI6MTY0NjU1MDk5NiwiaWF0IjoxNjQxMzY2OTk2fQ.RMNwrqa78U7pt_BGzkdNUZX1Cwqu6rs6z-rH03J25Gw"}})).json()
      }

      // let user
      // const getUser = async () =>{
      //   const user= await(await fetch('http://localhost:5050/chatuser')).json()
      // }

      const init = async () => {
        await getRooms()
        // await getUser()
        const name = prompt('What your name');
        var socket = io.connect('http://localhost:5050/chat/chatting',  {extraHeaders: {Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYxZDUzNzA4NThmYWRhMmU0NDM0ZjBlMiIsImV4cCI6MTY0NjU1MDk5NiwiaWF0IjoxNjQxMzY2OTk2fQ.RMNwrqa78U7pt_BGzkdNUZX1Cwqu6rs6z-rH03J25Gw"}});
        let room = roomlist.rooms;

        // let name = user;
        // console.log(name)
        let num = 0;

        const select=document.querySelector("select");

        for (num = 0; num < room.length; num++) {
          const option=document.createElement("option");
          option.value=room[num]['roomId'];
          option.innerText=room[num]['roomId']
          select.appendChild(option)
        }

        let a=0
 
        socket.emit('joinRoom', room[a].roomId, name);

        $('select').change((e) => {
          a = e.target.selectedIndex
          socket.emit('leaveRoom', room[a].roomId, name);
          // console.log(room[a].roomId)
          socket.emit('joinRoom', room[a].roomId, name);
        });
    
        //----------------
        $('form').submit(() => {
          socket.emit('message', a, name, $('#m').val());
          $('#m').val('');
          return false;
        });
    
        socket.on('message', (name, msg) => {
          $('#messages').append($('<li>').text(name + '  :  ' + msg));
        });
    
        socket.on('leaveRoom', (a, name) => {
          $('#messages').append($('<li>').text(name + '    leaved ' + room[a] + ' :('));
        });
    
        socket.on('joinRoom', (roomid, name) => {
          $('#messages').append($('<li>').text(name + '    joined ' + roomid + ':)'));
        });
      }

      init()
    </script>
  </body>
</html>